@charset "utf-8";
@font-face{font-family: Fira;src: url('fonts/FiraSans-Light.ttf');font-weight: 100;}
@font-face{font-family: Fira;src: url('fonts/FiraSans-Regular.ttf');font-weight: 300;}
@font-face{font-family: Fira;src: url('fonts/FiraSans-Medium.ttf');font-weight: 500;}
@font-face{font-family: Fira;src: url('fonts/FiraSans-Bold.ttf');font-weight: 700;}
::-o-selection {background: Silver;color: #424242;text-shadow: 0 1px 1px #ccc;}
::-moz-selection {background: Silver;color: #424242;text-shadow: 0 1px 1px #ccc;}
::-webkit-selection {background: Silver;color: #424242;text-shadow: 0 1px 1px #ccc;}
::selection {background: Silver;color: #424242;text-shadow: 0 1px 1px #ccc;}
*{margin: 0;color: inherit;font-weight: inherit;letter-spacing: -.04em;text-decoration: none;transition: inherit;-moz-transition: inherit;-webkit-transition: inherit;user-select:none;webkit-user-select:none;moz-user-select:none;-o-user-select:none;}
html, body {background:#fff;font-family: Fira;font-weight: 100;font-size:14px;height:100%;width:100%;}
#main_menu{text-align:center;}
#main_menu{background:#7d7e7d;background: -webkit-linear-gradient(#585858, #444);background: -moz-linear-gradient(#585858, #444);background: -o-linear-gradient(#585858, #444);linear-gradient(#585858, #444);height:20px;padding:10px;padding-top:10px;color:#ddd;border-bottom:5px solid #555;}
.menu2{display:none;}
.menu2 select{width:90%;padding:3px;}
ul.menu {list-style: none;font-weight: 300;}
ul.menu li {width:100px;height:30px;display:inline-block;text-shadow: 1px 1px 1px #333;}
ul.menu li a:link, ul.menu li a:visited {text-decoration: none;color:black;}
ul.menu li:hover {border-bottom:5px solid #eee;}
.menuactive{border-bottom:5px solid #ddd;}

#head{height:150px;background: url('img/bg1.jpg') no-repeat scroll center top transparent;background-color:#000;color:#D1BD99;}
.title{padding-top:25px;padding-bottom:25px;text-align:center;text-shadow: 2px 1px 1px gray;}
.title{float:left;}
.title1{font-weight: 500;font-size:28px;}
.title2{font-weight: 300;font-size:16px;}

#timeserver{margin:0;text-align:center;}
#showTime{font-weight:Bold;font-size:16px;}
#showDate{font-size:14px;}

#preload{text-align:Center;padding-top:20%;}

#main{background:;color:#222;display:inline-block;min-width:98%;width:100%;min-height: 65%;padding:0;text-align:center;padding:20px;margin-bottom:20%;}
.main{background:;font-size:16px;float:left;text-align:left;border-radius:4px;padding:20px;min-width:70%;width:70%;}
.sidebar{background:;border-left:3px solid #ccc;min-height:400px;width:18%;font-size:16px;float:right;text-align:justify;border-radius:4px;padding:20px;}
.login-m{display:none;}
.login-d{}
#login-top{margin:0 auto;margin-bottom:10px;display:none;}
#login{margin:0 auto;}
.hidden{display:none;}
footer {background: #181818;height: 50px;padding: 25px;color: #ccc;font-weight: 100;font-size:16px;}
#pie{margin-bottom:20px;}
.left{float:left;padding-left:15px;}
.right{float:right;padding-right:15px;}
#hbji{margin:0 auto;background: url('img/hbji.png') no-repeat scroll left top transparent;width: 349px;height: 29px;}
.on {color:Green;font-weight: Bold;text-shadow: 0px 1px 1px #000;}
.off {color:DarkRed;	font-weight: Bold;text-shadow: 0px 1px 1px #000;}

@media only screen and (max-width: 1280px) {
	#main{margin:0 auto;padding:10px;width:90%;}
	.main,.sidebar{float:null;}
	@media only screen and (max-width: 1000px) {
		@media only screen and (max-width: 800px) {
			#main_menu{height:25px;color:#777;}
			html, body {font-size:13px;width:100%;}
			.lpw{color:#ccc;font-size:14px;font-weight:Bold;}
			.menu{display:none;}
			.menu2{display:inherit;}
			#main{min-width:0;}
			.main{float:null;padding:10px;border-radius:0;width:96%;}
			.main input{width:60%;}
			.sidebar{border-bottom:3px solid #ccc;min-height:0;text-align:center;float:null;width:100%;border-radius:0;}
			.hidden_m{display:none;}
			#login{margin:0 auto;margin-bottom:20px;}
			#status{color:#CCC;font-weight:Bold;}
			.login-d{display:none;}
			.login-m{display:inherit;}
			footer {height:80px;font-size:14px;text-align:center;}
			div#pie{margin-bottom:40px;}
			.right{float:none;}
			.left{float:none;}
			#head{background-size:cover;}
			#hbji{margin-top:20px;background: url('img/hbji_0.png') no-repeat scroll left top transparent;width: 260px;height: 22px;}
			@media only screen and (max-width: 700px) {
				div#pie{margin-bottom:20px;}
				footer {height:80px;}
				.main{width:100%;}
				@media only screen and (max-width: 600px) {
					.main{width:92%;}
				}
			}
		}
	}
}
